

<div class="container">



<h1 class="center"> Welcome to R-umbler!</h1> 
 <% if @user == session[:id] %>
    <h3 class="center">Please <a href="/signup">sign up</a> or <a href="/user/login">sign in</a> to create your own blog! </h3>
<%else %>
    <h3 class="center">Welcome back! </h3>
    <%end %>
<div class="container">
<img src="images/a.png">


<h2 class="center"> Current R-umbler Users: <%= @users.length %> </h2>

</div>
</div>


