<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="images/logo.jpeg">
	<title>R-umbler</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
<body>



<%= yield %>




        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4"> 90 John Street, New York, NY, 10038 +000-888-0088. yuniegu3@gmail.com</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"> Contact Us </h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://twitter.com/?lang=en">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/yuniegu3/">Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="mailto:example@email.com"> yuniegu3@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            </div>
          </div>
        </footer>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="main.js"></script>
</body>
</html>