
<%# seperate page that loads when user has no posts in their blog because it throws a error if there is no post...could of made a if loop and just have it link to same page...post MVP? %>

<div class="container">
<h1>  <%= @blog.blog_name %> </h1>

<p><a href="/user/post/create"> Create New Post </a></p>

</div>


