   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img src="images/logo.jpeg" height="73"></a>
      <ul id="nav-mobile" class="right">
        <li><a href="/user/login">Login/Sign Up</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user/:id/profile">My Profile</a></li>
        <li><a href="/user/blog/myblog">My Blog</a></li>
        <li><a href="/blogs/posts">All Blogs</a></li>
        <li><a href="/blog/posts/tags">All Tags</a></li>
      </ul>
    </div>
  </nav>


<%# seperate page that loads when user has no posts in their blog because it throws a error if there is no post...could of made a if loop and just have it link to same page...post MVP? %>

<div class="container">
<h1>  <%= @blog.blog_name %> </h1>

<p><a href="/user/post/create"> Create New Post </a></p>

</div>


