<form method="POST" action="/user/post/<%= @posts.id %>/tags/new">
  <input type="text" name="tag_name" placeholder="Tag Name" required>
  <button type="submit"> Create Tag for this post! </button>
</form>