<form method="POST" action="/user/post/new">
  <input type="text" name="post_name" placeholder="Post Name" required>
  <input type="text" name="content" placeholder="Content" required>
  <button type="submit"> Create Your Post! </button>
</form>