   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img src="images/logo.jpeg" height="73"></a>
      <ul id="nav-mobile" class="right">
        <li><a href="/user/login">Login/Sign Up</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user/:id/profile">My Profile</a></li>
        <li><a href="/user/blog/myblog">My Blog</a></li>
        <li><a href="/blogs/posts">All Blogs</a></li>
        <li><a href="/blog/posts/tags">All Tags</a></li>
      </ul>
    </div>
  </nav>


<% @y.each do |post|%>
<% Post.find_by(id: post) %>
<p> name :<%= Post.find_by(id: post).post_name %></p>
	<p> post content: <%= Post.find_by(id: post).content %> </p>
	<br>
<% end %>