

<%# @y is a array of post_id that has a common tag_id through Post_Tag db %>

<% @y.each do |post|%>
<% Post.find_by(id: post) %>
<p> name :<%= Post.find_by(id: post).post_name %></p>
	<p> post content: <%= Post.find_by(id: post).content %> </p>
	<br>
<% end %>